@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

nav {
    padding: 15px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    background-color: #14424B;
}

nav > h1 {
    font-size: 2.6em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 40px;
    color: white;
    text-decoration: none;
}


header {
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: #14424B;
}


#titulo > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: white;
}

#titulo > h3 {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: white;
}

#titulo > img {
    position: absolute;
    top: 442px;
}


#imagem{
    background-image: url(../imagens/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 510px;
}

#clientes {
    display: flex;
    align-items: center;
    background-image: linear-gradient( #FD830E , #a15005);
    height: 162px;
}

#h3cliente {
    margin-left: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#pessoas {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.botao {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 170px;
    height: 47px;
    background-image: linear-gradient( #FD830E , #924904);
    color: white;
    border: none;
    border-radius: 3px;
}


#competencias {
    align-items: center;
    justify-content: space-around;
    height: 350px ;
    display: flex;
    gap: 10px;
}

.divcomp {
    padding: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.divcomp:hover {
    transform: translate(-3px, -3px);
    transition: 0.5s;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.368);
}

.divcomp > img {
    width: 70px;
}

.divcomp > h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.divcomp > p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#fotoeusuario {
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    height: 520px;
}

#casaimg {
    background-size: cover;
    border-radius: 10px;
    height: 500px;
    width: 3100px;
    background-image: url(../imagens/casa.png);
}

#usuarios {
    text-align: left;
    padding: 40px;
}

#usuarios > h1 {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

#usuarios > p {
    margin-bottom: 30px;
    color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif
}

#usuarios > img {
    margin-bottom: 30px;
}

#usuarios > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}

#casas {
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-image: linear-gradient(white, rgb(220, 220, 220));
}

#escolha {

    text-indent: 20px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#m30 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    margin-top: 10px;
    font-size: 2em;
}

#casasflex {
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.casasend {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    width: 290px;
    height: 270px;
}

.casainput{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    margin: 20px;
    width: 200px;
    padding: 13px;
    border: none;
    background-color: #FD830E;
    border-radius: 2px;
    cursor: pointer;
}

.casasend > img {
    width: 90px;
}

.casasend > p {
    line-height: 25px;
    color: rgb(73, 73, 73);
}

.casasend > h3 {
    font-size: 1.9em;
}

#fotoaside {
    height: 450px;
    background-color:#009662;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1350px;
    height: 380px;
    background-size: cover;
    background-image: url(../imagens/background-newsletter.png);
    line-height: 50px;
}

#sub > h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

#sub > p {
    color: rgb(37, 37, 37);
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

#email {
    background-color: #fad7bf;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}

#email:focus {
    outline: none;
}

#subscreve {
    background-color: #22805E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #14424B;
    height: 260px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
}

.tituloul {
    font-size: 1.5em;
    color: white;
}

li {
    padding: 7px;
}

